<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="API2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
      <section name="DataClasses.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="API2.My.MySettings.SwitchPayDB" connectionString="Data Source=10.0.12.248;Initial Catalog=UATSwitchPay;Persist Security Info=True;User ID=switchpayadm;Password=8HtYY53B!"
      providerName="System.Data.SqlClient" />
    <add name="API2.My.MySettings.ChildDB" connectionString="Data Source=10.0.12.248;Initial Catalog=UATSwitchPay;Persist Security Info=True;User ID=switchpayadm;Password=8HtYY53B!"
      providerName="System.Data.SqlClient" />
    <add name="API2.My.MySettings.RulesDB" connectionString="Data Source=10.0.12.248;Initial Catalog=UATRulesEngine;Persist Security Info=True;User ID=switchpayadm;Password=8HtYY53B!"
      providerName="System.Data.SqlClient" />
    <add name="DataClasses.My.MySettings.RDB" connectionString="metadata=res://*/RulesDB.csdl|res://*/RulesDB.ssdl|res://*/RulesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data Source=10.0.12.248;initial catalog=UATRulesEngine;persist security info=True;User ID=SwitchPayadm;Password=8HtYY53B!;multipleactiveresultsets=True;App=EntityFramework&quot;" />
    <add name="DataClasses.My.MySettings.ChildDB" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data Source=10.0.12.248;initial catalog=UATSwitchPay;persist security info=True;User ID=SwitchPayadm;Password=8HtYY53B!;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="DataClasses.My.MySettings.SwitchPayDB" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data Source=10.0.12.248;initial catalog=UATSwitchPay;persist security info=True;User ID=SwitchPayadm;Password=8HtYY53B!;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="DataClasses.My.MySettings.RepoDB" connectionString="metadata=res://*/ReposDB.csdl|res://*/ReposDB.ssdl|res://*/ReposDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data Source=10.0.12.248;initial catalog=UATRepositories;persist security info=True;User ID=SwitchPayadm;Password=8HtYY53B!;multipleactiveresultsets=True;application name=EntityFramework&quot;" />
    <add name="DBDataContext" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data Source=10.0.12.248;initial catalog=UATSwitchPay;persist security info=True;User ID=SwitchPayadm;Password=8HtYY53B!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="RulesDBDataContext" connectionString="metadata=res://*/RulesDB.csdl|res://*/RulesDB.ssdl|res://*/RulesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data Source=10.0.12.248;initial catalog=UATRulesEngine;persist security info=True;User ID=SwitchPayadm;Password=8HtYY53B!;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="RepositoriesUATEntities" connectionString="metadata=res://*/RepoDB.csdl|res://*/RepoDB.ssdl|res://*/RepoDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data Source=10.0.12.248;initial catalog=UATRepositories;persist security info=True;User ID=SwitchPayadm;Password=8HtYY53B!;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ReposDBDataContext" connectionString="metadata=res://*/ReposDB.csdl|res://*/ReposDB.ssdl|res://*/ReposDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data Source=10.0.12.248;initial catalog=UATRepositories;persist security info=True;User ID=SwitchPayadm;Password=8HtYY53B!;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="RulesEngineConnectionString" connectionString="Data Source=10.0.12.248;Initial Catalog=UATRulesEngine;Persist Security Info=True;User ID=SwitchPayadm;Password=8HtYY53B!;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="SwitchPayUATConnectionString" connectionString="Data Source=10.0.12.248;Initial Catalog=UATSwitchPay;Persist Security Info=True;User ID=SwitchPayadm;Password=8HtYY53B!;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="RepoDBDataContext" connectionString="metadata=res://*/RepoDB.csdl|res://*/RepoDB.ssdl|res://*/RepoDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data Source=10.0.12.248;initial catalog=UATRepositories;persist security info=True;User ID=SwitchPayadm;Password=8HtYY53B!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="compuScanUserName" value="28341-1"/>
    <add key="compuScanPassword" value="BW@loa1234"/>
    <add key="compuScanOrigin" value="SwitchPay"/>
    <add key="compuScanVersion" value="1.0"/>
    <add key="compuScanSubmissionType" value="RS"/>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="Telerik.Skin" value="Default"/>
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled"/>
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled"/>

  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.1"/>
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AVSServicePortBinding" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <security mode="Transport"/>
        </binding>
        <binding name="externalintegrationSoap" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" allowCookies="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>

          <security mode="Transport"/>
        </binding>
        <binding name="externalintegrationSoap1" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" allowCookies="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
        <binding name="XML2SMSServiceSoap" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <security mode="Transport"/>
        </binding>
        <binding name="XML2SMSServiceSoap1" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webservices.compuscan.co.za/AVSService" binding="basicHttpBinding" bindingConfiguration="AVSServicePortBinding" contract="avsrService.AVSService" name="AVSServicePort"/>
      <endpoint address="https://secure.acpas.co.za/wsIntegration/externalintegration.asmx" binding="basicHttpBinding" bindingConfiguration="externalintegrationSoap" contract="AP.externalintegrationSoap" name="externalintegrationSoap"/>
      <endpoint address="https://soap.gsm.co.za/xml2sms.asmx" binding="basicHttpBinding" bindingConfiguration="XML2SMSServiceSoap" contract="Vodacom.XML2SMSServiceSoap" name="XML2SMSServiceSoap"/>
    </client>
    <behaviors>

      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.Tracing.TraceEvent" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.48.0" newVersion="2.0.48.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" culture="neutral" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" culture="neutral" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" culture="neutral" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" culture="neutral" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" culture="neutral" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"></bindingRedirect>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.11.0.0" newVersion="2.11.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.Tracing.TraceEvent" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.26.0" newVersion="2.0.26.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Overlapped" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.SecureString" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Sockets" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="B77A5C561934E089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Globalization.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.StackTrace" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
				To browse web app root directory during debugging, set the value below to true.
				Set to false before deployment to avoid disclosing web app folder information.
			-->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <applicationSettings>
    <API2.My.MySettings>
      <setting name="IntegrationUser" serializeAs="String">
        <value>10FA3790-8C75-49CC-B350-1F883AB14922</value>
      </setting>
      <setting name="FileFolder" serializeAs="String">
        <value>c:\templates\</value>
      </setting>
      <setting name="WFApp" serializeAs="String">
        <value>UAT</value>
      </setting>
      <setting name="Environment" serializeAs="String">
        <value>UAT</value>
      </setting>
      <setting name="Repository" serializeAs="String">
        <value>UAT</value>
      </setting>
      <setting name="EnvironmentID" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="RepositoryID" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="EnvironmentRepositoryID" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="URLPrefix" serializeAs="String">
        <value>http://uat</value>
      </setting>
    </API2.My.MySettings>
    <DataClasses.My.MySettings>
      <setting name="Environment" serializeAs="String">
        <value>UAT</value>
      </setting>
      <setting name="Repository" serializeAs="String">
        <value>UAT</value>
      </setting>
      <setting name="EnvironmentID" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="RepositoryID" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="EnvironmentRepositoryID" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="URLPrefix" serializeAs="String">
        <value>http://uat</value>
      </setting>
      <setting name="REContext" serializeAs="String">
        <value>data Source=10.0.12.248;initial catalog=UATRulesEngine;persist security info=True;User ID=SwitchPayadm;Password=8HtYY53B!;MultipleActiveResultSets=True;App=EntityFramework</value>
      </setting>
      <setting name="MainContext" serializeAs="String">
        <value>data Source=10.0.12.248;initial catalog=UATSwitchPay;persist security info=True;User ID=SwitchPayadm;Password=8HtYY53B!;MultipleActiveResultSets=True;App=EntityFramework</value>
      </setting>
      <setting name="IntegrationUser" serializeAs="String">
        <value>10FA3790-8C75-49CC-B350-1F883AB14922</value>
      </setting>
    </DataClasses.My.MySettings>
  </applicationSettings>
  <!--<loggingConfiguration tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <categorySources>
      <add switchValue="All" name="General">
        <listeners />
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners />
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners />
      </errors>
    </specialSources>
  </loggingConfiguration>-->
  <!--<system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>-->
</configuration>
